{% import "partials/quotes.twig" as quotes %}


{{ set(this, 'title', article.title) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}


{# {{this.registerJs("ArticleController.view();")}} #}
{# {{this.registerJs("HomeController.blog();")}} #}

{% set status = 'follow' %}
{% set text = 'Follow +' %}
{% set authorId = article.createdBy['id'] %}
{% set authorGUID = article.createdBy['guid'] %}

{% if not _User.isGuset() and _User.isUserFollowing('user', authorId)%}
    {% set status = 'unfollow' %}
    {% set text = 'Following -' %}
{% endif %}
{% set placeholder = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w=1160&h=538' %}
{% set imgWidth = 900 %}
{% set imgHeight = 900 %}

{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = article.media[0].path %}
{% endif %}

{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}

    {# {{dump(article.media[0])}} #}

    <main id="main" class="site-main" role="main">

        {% if articleImg %} 

         <section class="" style="margin-top:40px;text-align: center;">
             <img src="{{articleImg}}" style="max-height:1000px;max-width:80%;">
        </section><!--page-hero-->
        {% endif %}







        <article class="article-main">



            <div class="container">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="content-wrapper">

                                <div class="article_content">
                                    <p>{{ article.content | preg_replace('/^<p>/', '<p class="lead">') | raw }}</p>
                                </div><!-- .content-->
                            </div><!-- .content-->


                        </div><!-- .col-md-8-->
                    </div>
                </div><!-- .page-content-->

            </div><!--container-->
        </article>
    </main><!--site-main-->

