{% import "partials/quotes.twig" as quotes %}


{{ set(this, 'title', article.title) }}
{% set networkData = _Network.getNetworkData() %}
{% set blogData      = _Blog.getBlog() %}
{% set blogName      = blogData.title %}


{# {{this.registerJs("ArticleController.view();")}} #}
{# {{this.registerJs("HomeController.blog();")}} #}

{% set status = 'follow' %}
{% set text = 'Follow +' %}
{% set authorId = article.createdBy['id'] %}
{% set authorGUID = article.createdBy['guid'] %}

{% if not _User.isGuset() and _User.isUserFollowing('user', authorId)%}
    {% set status = 'unfollow' %}
    {% set text = 'Following -' %}
{% endif %}
{% set placeholder = 'https://placeholdit.imgix.net/~text?txtsize=33&txt=Loading&w=1160&h=538' %}
{% set imgWidth = 900 %}
{% set imgHeight = 900 %}

{% set articleImg = false %}
{% if article.media|length > 0 %}
    {% set articleImg = _Media.getMediaUrl(article.media[0],imgWidth, imgHeight, {'crop': 'fill', 'gravity': 'none'} ) %}
{% endif %}

{% set profileImg = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {radius: 'max', gravity: 'face', 'crop': 'thumb', type: 'user'}) %}


    <main id="main" class="site-main" role="main">

        {% if articleImg %} 

         <section class="page-hero" style="margin-top:40px;">
             <img src="{{articleImg}}">
        </section><!--page-hero-->
        {% endif %}







        <article class="article-main">



            <div class="container">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="content-wrapper">
                                <div class="content-block-top">
                                    <time>{{ article.publishedDate }}</time>
                                    <h1>{{ quotes.smarten(article.title) }}</h1>

                                    <p class="author">{{ article.createdBy['displayName'] }}</p>

                                    {% if article.createdBy['bio'] %} 
                                        <p class="bio">{{ article.createdBy['bio'] }}</p>
                                    {% endif %}

                                    {% if not _User.isGuest() %}
                                        <a href="{{article.editUrl}}" target="_blank" class="" style="margin-left:20px;padding-top:5px">Edit article</a>
                                    {% endif %}

                                    <div class="time_to_read">
                                        {% set readtime = 3 %}
                                        {% if article.readingTime > 3 %}
                                            {% set readtime = 4 %}
                                        {% endif %}
                                        {% if article.readingTime > 4 %}
                                            {% set readtime = 7 %}
                                        {% endif %}
                                        {% if article.readingTime > 7 %}
                                            {% set readtime = 10 %}
                                        {% endif %}

                                        <img src="{{networkData.templatePath}}/static/images/reading_time/{{readtime}}_min.svg" />
                                        <p>{{article.readingTime}} minute read</p>
                                    </div>



                                </div><!--content-block-top-->

                                <div class="article_content">
                                    <p>{{ article.content | preg_replace('/^<p>/', '<p class="lead">') | raw }}</p>
                                </div><!-- .content-->
                            </div><!-- .content-->


                        </div><!-- .col-md-8-->
                    </div>
                </div><!-- .page-content-->


                <div class="related-articles">
                    <div class="row">
            
                        <div class="col-sm-12">

                            <section class="row">
                                <h2>Related articles</h2>

                                {% set popularArticles = _Article.getPopularArticles({ limit: 4, excludeArticleIds : article.id, sortBy : "VIEWS" }) %}
                                {% if popularArticles|length > 0 %}
                                    {% for article in popularArticles %}
                                        {{this.render('partials/_single-article.twig', {article: article, containerClass: 'col-sm-6 col-md-3 card-sm s110x110'}) | raw}}
                                    {% endfor %}
                                {% else %}
                                    <p class="nodata text-center">No data found.</p>
                                {% endif %}
                            </section>

                        </div><!-- .col-md-12-->
                    </div><!-- .row-->

                </div>

            </div><!--container-->
        </article>
    </main><!--site-main-->

